# https://github.com/github/gitignore
# Binaries for programs and plugins
#*.mp3
*.exe
*.exe~
*.dll
*.so
*.dylib
rogo-gateway

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IntelliJ IDE
*.iml
*.idea
/logs
